$background:#F0F5FB;
$textcolor:#000000;
$opacity:0.5;
* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus,
:active {
    outline: none;
}
  
a:focus,
a:active {
    outline: none;
}
  
nav,
footer,
header,
aside {
    display: block;}
  
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input,
button,
textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a,
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a{
    font-weight: 400;
    font-size: 16px;
    color: $textcolor;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}
h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}
h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
.header{
    background-color: $background;
    overflow: hidden;
    &-up{
        display: flex;
        justify-content: space-between;
        margin: 0 140px;
        position: relative;
        z-index: 10;
    }
}
.nav{
    margin-top: 59px;
    &-item{
        margin-right: 40px;
    }
    &-item:last-child{
        margin-right: 10px;
    }
    &-item:hover{
        opacity: $opacity;
    }
}
.logo{
    margin-top: 25px;
}
.contacts{
    display: flex;
    &-daily{
        margin-top: 59px;
    }
    &-phone{
        display: flex;
        margin-left: 40px;
    }
    &-phone:hover{
        opacity: $opacity;
    }

    &-phone__number{
        padding-left: 16px;
        margin-top: 58px;
        font-weight: 700;
        font-size: 18px;
    }

}
.icon{
    width: 33px;
    height: 33px;
    background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    margin-top: 50px;
    cursor: pointer;

    &-images{
        padding: 10px 9px 9px 10px;
    }

}
.daily{
    display: flex;
    margin-top: 59px;
    &-circle{
        display: block;
        width: 4px;
        height: 4px;
        background: #46CB72;
        border-radius: 50%;
        margin-right: 9px;
        margin-top: 7px;
    }
    &-routine{
        font-size: 16px;
    }
}
.parallax{
    padding-top: 100px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: clip;
    background-color: $background;
    margin-bottom: 130px;
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-label{
        font-size: 18px;
        max-width: 621px;
        margin-top: 18px;
        text-align: center;
    }
    &-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &-img__black{
        top: -120px;
        width: 97%;
        transform: translate(1.75%, 0%);
        z-index: 1;
    }
    &-img__color{
        top: -100px;
        z-index: 2;
    }
    &-img__piza{
        z-index: 5;
        top: 0;
        left: 0;
        transform: translate(15%, 20%);
        width: 85%;
    }
    &-img__flour{
        z-index: 1;
        mix-blend-mode: screen;
        top: 35%;
        left: 22%;
        transform: translate(-42%, -32%);

    }
}
.menu{
    margin-top: 300px;
    width: 100%;
    background-image: url(../images/background/bckgroundmenu.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    &-title{
        margin-bottom: 50px;
    }
    &-tab{
        margin-bottom: 50px;
    }
    &-food{
        margin-bottom: 84px;
    }
    &-more{
        width: 60px;
        margin: 0 auto;
        left: 50%;
    }
    &-more:hover{
        animation:spin 4s linear infinite alternate;
    }
    &-more__btn{
        width: 60px;
        height: 60px;
        background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
        box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
        border-radius: 59px;
    }
    &-more__icon{
        width: 25px;
    }
}
.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    &__btn{
        margin: 10px 15px;
    }
    &__btn-item{
        width: 135px;
        height: 55px;
        background: rgba(236, 238, 246, 1);
        border-radius: 45px;
        font-size: 16px;
        font-weight: 600;
        color: rgba(21, 21, 21, 1);
        cursor: pointer;
        transition: all 0.5s;
    }
    &__btn-item:hover{
        color: #FFF;
        background: rgba(89, 170, 241, 0.5);
    }
    &__btn-item.active{
        color: #FFF;
        background: rgba(89, 170, 241, 1);
    }
}
.cards{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    gap: 20px 30px;
    grid-template-columns: repeat(auto-fit,260px);
    max-width: 1160px;
    padding: 0 5px;

    justify-content: center;


}
.card{
    width: 260px;
    height: 415px;
    &-food{
        height: 100%;
        background-image: url(../images/card-food/back.png);
        background-position: 0 20%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &-information{
        position: relative;
    }
    &-food__hit{
        position: absolute;
        width: 60px;
        height: 25px;
        left: 19px;
        top: 20px;
        box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
        background: linear-gradient(135deg, #FE3326 5.28%, #FE5626  112.69%),#59AAF1;
        background-size: 400% 400%;
        border-radius: 3px;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        color: #FFFFFF;
        text-align: center;
        padding: 4px 0;
        animation: back 2s ease infinite;
    }
    &-food__img{
        margin-top: 36px;
        margin-left:  45px ;

    }
    &-food__detail{
        margin-left: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-food__size{
        margin-right: 15px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
    }
    &-food__description{
        max-width: 220px;
        margin: 8px 15px 19px 25px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
    }
    &-food__price{
        font-weight: 300;
        font-size: 24px;
        line-height: 140%;
        color: #121146;
        margin: 0 83px;
    }
    &-food__order{
        position: absolute;
        top: 102%;
        left: 43%;    
        width: 33px;
        height: 33px;
        background: #fff;
        border-radius: 59px;
        cursor: pointer;
        border: 2px solid #ECEEF6;
        fill: rgba(242, 63, 14, 0.8);
        padding: 6px 10px 11px 9px;
        transition: all 1s ease-in-out 0.1s;

    }
    &-food__order:hover{
        fill: #FFFFFF;
        background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%), linear-gradient(180deg, #FE5626 0%, #F23F0E 100%);
        box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
    }
}
@keyframes back{
    0% {
        background-position:0 50% ;
    }
    50%{
        background-position:100% 50% ;
    }
    100%{
        background-position:0 50% ;
    }
}
@keyframes spin{
    100%{
        transform:rotate(-360deg);
    }
}
.hit{
    &__disable{
        display: none;
    }
}
.social{
    &-body{
        position: relative;
    }

    &-photo{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    &-photo__item{
        margin: 0 5px;
    }
    &-photo__small{
        display: none;
    }
    &-photo__big{
        margin: 0 0;
    }

    &-box__big{
        width: 480px;
        height: 180px;
        background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
        box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
        border-radius: 15px;
        margin: 0 auto;
        position: absolute;
        top: 25%;
        left: 35%;
    }
    &-box__small{
        width: 440px;
        height: 140px;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, .1);
        position: absolute;
        top: 20px;
        left: 20px;
        text-align: center;
    }
    &-box__title, &-box__link{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF; 
        padding: 55px 56px;
    }
    &-box__link{
        font-weight: 700;
        padding: 0;
        transition: all 0.5s linear;
    }
    &-box__link:hover{
        opacity: $opacity;
    }
}







@media screen and (max-width: 1290px){
    .social{
        &-photo{
            justify-content: center;
        }
        &-photo__item{
            margin: 5px 5px;
        }
        &-photo__small{
            display: block;
        }
        &-photo__big{
            display: none;
        }
        &-photo__item:last-child,&-photo__item:first-child{
            margin: 5px 5px;
        }
        &-box__big{
            left: 31%;
        }
    }

}