$background:#F0F5FB;
$textcolor:#000000;
$opacity:0.5;
* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
:focus,
:active {
    outline: none;
}
  
a:focus,
a:active {
    outline: none;
}
  
nav,
footer,
header,
aside {
    display: block;}
  
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
  
input,
button,
textarea {
    font-family: inherit;
}
  
input::-ms-clear {
    display: none;
}
  
button {
    cursor: pointer;
}
  
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
  
a,
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
ul li {
    list-style: none;
}
  
img {
    vertical-align: top;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
a{
    font-weight: 400;
    font-size: 16px;
    color: $textcolor;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}
h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}
.header{
    background-color: $background;
    overflow: hidden;
    &-up{
        display: flex;
        justify-content: space-between;
        margin: 0 140px;
    }
}
.nav{
    margin-top: 59px;
    &-item{
        margin-right: 40px;
    }
    &-item:last-child{
        margin-right: 10px;
    }
    &-item:hover{
        opacity: $opacity;
    }
}
.logo{
    margin-top: 25px;
}
.contacts{
    display: flex;
    &-daily{
        margin-top: 59px;
    }
    &-phone{
        display: flex;
        margin-left: 40px;
    }
    &-phone:hover{
        opacity: $opacity;
    }

    &-phone__number{
        padding-left: 16px;
        margin-top: 58px;
        font-weight: 700;
        font-size: 18px;
    }

}
.icon{
    width: 33px;
    height: 33px;
    background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    margin-top: 50px;
    cursor: pointer;

    &-images{
        padding: 10px 9px 9px 10px;
    }

}
.daily{
    display: flex;
    margin-top: 59px;
    &-circle{
        display: block;
        width: 4px;
        height: 4px;
        background: #46CB72;
        border-radius: 50%;
        margin-right: 9px;
        margin-top: 7px;
    }
    &-routine{
        font-size: 16px;
    }
}
.parallax{
    padding-top: 100px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: clip;
    background-color: $background;
    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-label{
        font-size: 18px;
        max-width: 621px;
        margin-top: 18px;
        // margin: 0 auto;
        text-align: center;
    }
    &-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &-img__black{
        top: -120px;
        width: 97%;
        transform: translate(1.75%, 0%);
        z-index: 1;
    }
    &-img__color{
        top: -100px;
        z-index: 2;
    }
    &-img__piza{
        z-index: 5;
        top: 0;
        left: 0;
        transform: translate(15%, 20%);
        width: 85%;
    }
    &-img__flour{
        z-index: 1;
        mix-blend-mode: screen;
        top: 35%;
        left: 22%;
        transform: translate(-42%, -32%);

    }
}
